@import "../node_modules/bootstrap/scss/bootstrap";

$gradation-sphere: radial-gradient(
    circle at 10px 10px,
    #49e8ed,
    #41d0d5,
    #3ab9bd,
    #33a2a5,
    #2b8b8e,
    #247476
);
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.box {
  position: relative;
}
.sphere {
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 300px;
  height: 300px;
  background: $gradation-sphere;
  border-radius: 50%;
  animation: up-and-down 5s ease-in-out infinite alternate;

  //reference: https://cssanimation.rocks/spheres/
  &:before {
    content: "";
    position: absolute;
    background: radial-gradient(
        circle at 50% 120%,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0) 70%
    );
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.8) 14%,
        rgba(255, 255, 255, 0) 24%
    );
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(15px);
  }
}

@keyframes up-and-down {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translate(-50%, -40%);
  }
}

